<style>
    .form-wrapper {
        display: inline-block;
        width: 100%;
    }

    .form-wrapper form {
        display: inline-block;
        margin: 0px 20%;
    }

    label {
        width:      100px;
        display:    inline-block;
        text-align: right;
    }
    button {
        display:      inline-block;
        margin-left:  105px;
        margin-top:   10px;
    }
    label, input {
        display: inline-block;
        height: 30px;
    }

</style>
<h1>Enter new book here</h1>
<hr>
<div class="form-wrapper">
    <form action="/admin/new-book" method="POST" id="form__new-book">
        <label for="book-title">Title</label>
        <input type="text" name="book-title"    id="book-title"  ><br />
        <label for="book-author">Author</label>
        <input type="text" name="book-author"   id="book-author" ><br />
        <label for="book-issuedon">Issued On</label>
        <input type="text" 
            placeholder="dd.mm.yyyy"
            name="book-issuedon" id="book-issuedon"><br />
        <button type="submit">Enter Book</button>
    </form>
</div>

<script>
    const bookTitle    = document.getElementById( 'book-title'    );
    const bookAuthor   = document.getElementById( 'book-author'   );
    const bookIssuedOn = document.getElementById( 'book-issuedon' );

    const formNewBook = document.getElementById( 'form__new-book' );
    formNewBook.addEventListener( 'submit', function ( ev ) {
        if ( 
            !bookTitle.value
            || !bookAuthor.value
            || !bookIssuedOn.value
        ) {
            ev.preventDefault();
            console.log( 'You cannot submit the form' );
        }

        const _regxDate  = '(?:0[1-9]|[12][0-9]|3[01])';
        const _regxMonth = '(?:0[1-9]|1[012])';
        const _regxYear  = '[12]\\d{3}';

        const _regExp = new RegExp( 
            '(?:' 
                + _regxDate  + '\\.' 
                + _regxMonth + '\\.' 
                + _regxYear
            + ')' 
        ); 

        var dateCorrect = bookIssuedOn.value.match( _regExp );

        if ( !dateCorrect ) {
            ev.preventDefault();
            console.log( 'wrong date', bookIssuedOn.value );
        }
    } ); 
</script>