<style>
    .form-wrapper {
        display: inline-block;
        width: 100%;
    }

    .form-wrapper form {
        display: inline-block;
        margin: 0px 20%;
    }

    label {
        width:      100px;
        display:    inline-block;
        text-align: right;
    }
    button {
        display:      inline-block;
        margin-left:  105px;
        margin-top:   10px;
    }
    label, input {
        display: inline-block;
        height: 30px;
    }

</style>
<h1>Enter new book here</h1>
<hr>
<div class="form-wrapper">
    <form action="/admin/new-book" method="POST">
        <label for="book-title">Title</label>
        <input type="text" name="book-title"    id="book-title"  ><br />
        <label for="book-author">Author</label>
        <input type="text" name="book-author"   id="book-author" ><br />
        <label for="book-issuedon">Issued On</label>
        <input type="date" name="book-issuedon" id="book-issuedon"><br />
        <button type="submit">Enter Book</button>
    </form>
</div>