<link rel="stylesheet" href="styles.css">
        </div>
        <!-- <ul class="header-menu">
            <a href="/"><li class="header-menu__home">Home</li></a>
            <a href="/admin/new-book"><li class="header-menu__new-book">New Book</li></a>
        </ul> -->
        <p style="text-align: center;" id="footer__copyright">Our Library - 2018</p>
    </div>
</body>

<script>
    var footerCopyright = document.getElementById( 'footer__copyright' );
    footerCopyright.innerText = ( 'Our Library Copyright - ' + new Date().getFullYear() );
</script>