<style>
    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    ul.header-menu {
        margin: 0px;
        padding: 0px;
        height: 5%;
    }

    ul.header-menu > li {
        list-style-type: none;
        display: inline-block;
        border: 1px solid black;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ul.header-menu > li >a {
        text-decoration: none;
    }

    ul.header-menu > li:hover {
        background-color: yellowgreen;
    }
    
    .page-wrapper {
        min-height: 80%;
        padding-top: 5%;
        box-sizing: border-box;
    }

    .outer-wrapper {
        width: 50%;
        height: 100%;
        margin: 30px auto;
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .warning {
        font-weight: bold;
        color:     red;
        text-align: center;
    }
</style>
<body>
    <div class="outer-wrapper">
        <ul class="header-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/admin/new-book">New Book</a></li>
        </ul>
        <div class="warning"></div>
        <div class="page-wrapper">